body {
  margin: 0;

  .output {
    background-color: #181a1b;
    color: white;
    font-size: 1.2rem;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    padding: 20px;
    margin: 0;
  }
}


