body {
  font-family: Arial, sans-serif;
  background-color: rgb(30, 169, 82);
  background-size: 100% 100%;
  margin: 0;
  padding: 24px;
  width: 300px;
  border: solid 8px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-popup {
  display: flex;
  flex-direction: row;

  &__message {
    display: flex;
    flex-direction: column;
  }

  &__layout {
    display: flex;
    flex-direction: column;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 5px;
  margin-bottom: 18px;
  border: 1px solid gray;
  font-size: 18px;
}

input[type=checkbox] {
  margin-bottom: 0;
}

button, textarea {
  margin-bottom: 8px;
  resize: none;
}

button {
  border: 1px solid white;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  color: white;
  background: transparent;
  outline: none;
  opacity: .6;
}

button:hover {
  opacity: 1;
}

button:active {
  background: white;
}

img {
  width: 64px;
  height: 64px;
  padding: 8px;
}

label {
  color: white;
}
