.c-snack-bar {
  position: fixed;
  width: calc(100% - 32px);
  height: 30px;
  background: red;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 8px;
  color: white;
  font-weight: bold;
  justify-content: space-between;

  &__button {
    border: 1px solid white;
    border-radius: 6px;
    font-size: .8em;
    padding: 4px;
    cursor: pointer;
  }

  &__button:hover {
    border: 1px solid black;
    color: black;
  }

  &__button:active {
    background: white;
  }
}
